body {
    font-family: "Roboto", sans-serif;
    margin: 0%;
}

html {
    scroll-behavior: smooth;
}

/* ---MAIN--- */
.main-section {
    padding: 20px 200px;
    background-color: #1f2937;
}

header {
    display: flex;
    align-items: center;
    height: 60px;
}

.header-logo {
    justify-self: flex-start;
    flex: 1;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 600;
}

.links-container {
    justify-self: flex-end;

}

.header-links {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin: 10px;
}

/* ---ABOUT ME--- */

.about-me {
    padding: 50px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.about-me-text {
    flex: 1;
    padding-right: 20px;
}

.about-me img {
    height: auto;
    width: 40%;
    max-width: 350px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-me h1,
.about-me p {
    color: #F9FAF8;
}

.about-me h1 {
    margin-bottom: 10px;
    font-size: 36px;
}

.about-me p {
    line-height: 1.6;
    font-size: 18px;
}

/* ---CONTACT SECTION--- */
.contact-section {
    margin: 40px 200px;
    padding: 10px;
    background-color: #f3f4f6;
    text-align: center;
    border-radius: 8px;
}

.contact-section h2 {
    color: #1f2937;
    margin-bottom: 20px;
}

.contact-section p {
    color: #4b5563;
    margin-bottom: 20px;
}

.social-links a {
    display: inline-block;
    background-color: #3882f6;
    color: #ffffff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-weight: 600;
    margin: 0 10px 10px 10px;
    transition: 0.3s;
}

.social-links a:hover {
    background-color: #1a73e8;
    text-decoration: none;
}

/* ---FOOTER--- */
footer {
    padding: 20px 200px 20px 200px;
    background-color: #1f2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-weight: 300;
    font-size: 18px
}